body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(339deg, rgb(34, 193, 195) 0%, rgba(253, 187, 221, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}